@charset "UTF-8";
body {
  font-family: "GraublauSansR", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialised;
  overflow-x: hidden;
  height: 100%;
  color: #fff; }

a, a:hover, a:focus {
  text-decoration: none;
  color: #fff;
  outline: none; }

ul {
  list-style-type: none;
  padding: 0; }

h1 {
  font-size: 8.3rem;
  font-family: "GraublauSlabB", sans-serif; }

h2 {
  font-size: 5rem;
  font-family: "GraublauSlabB", sans-serif; }

h3 {
  font-size: 4rem;
  font-family: "GraublauSlabB", sans-serif; }

h4 {
  font-size: 3rem; }

h5 {
  font-size: 1.7rem; }

h6 {
  font-size: 1rem; }

p, a, span, button {
  font-size: 1.4rem; }

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

.no_bg {
  background-color: #181b23 !important; }

.float_left {
  float: left; }

.float_right {
  float: right; }

.grey_text {
  color: #4e5568; }

.other {
  height: 45px;
  background-color: #292c34;
  color: #57585d;
  margin-top: 50px;
  margin-left: 39px; }
  .other h2 {
    line-height: 0;
    padding-top: 10px; }

.social_icon li {
  display: inline-block; }

.menu {
  border-left: 6px solid red;
  border-right: 6px solid red;
  border-top: 6px solid red;
  background-color: #181b23; }
  .menu ul li {
    display: inline-block;
    padding: 20px 15px; }

.calendar {
  border-left: 6px solid red;
  border-right: 6px solid red;
  border-bottom: 6px solid red;
  background-color: #181b23; }
  .calendar .date {
    float: left;
    height: 230px;
    width: 9%;
    padding-top: 18px; }
    .calendar .date .red_line {
      border-bottom: 3px solid red;
      padding-bottom: 5px; }
  .calendar .count_game {
    padding: 10px 0 10px 50px;
    font-style: italic;
    color: #8a8a7b; }
  .calendar .game_close {
    float: right;
    height: 250px;
    width: 85%;
    background-color: #242c3e;
    border-radius: 5px; }
    .calendar .game_close img {
      padding-top: 20%; }
    .calendar .game_close a {
      text-decoration: underline; }
    .calendar .game_close .message {
      padding: 20px 0 50px 0; }
  .calendar .game_next {
    background-color: #e81011;
    height: 180px;
    width: 85%;
    border-radius: 5px 5px 0 0;
    float: right;
    padding-left: 15px;
    padding-top: 15px; }
    .calendar .game_next ul {
      padding-top: 10px; }
      .calendar .game_next ul li {
        padding-top: 5px; }
        .calendar .game_next ul li img {
          margin-right: 5px; }
    .calendar .game_next .line {
      height: 4px;
      width: 25px;
      background-color: #181b23;
      margin-top: 10px; }
    .calendar .game_next .name {
      font-weight: 600; }
    .calendar .game_next .label_game {
      position: absolute;
      margin: -25px 50%; }
  .calendar .footer_game {
    background-color: #c60000;
    height: 70px;
    width: 85%;
    border-radius: 0 0 5px 5px;
    float: right; }
    .calendar .footer_game .btn_mozg {
      margin-top: 20px;
      margin-right: 10px;
      padding: 5px 10px; }
    .calendar .footer_game .link_bottom {
      border-bottom: 1px solid #fff; }
  .calendar .select_mozg {
    background-image: url("../img/icon/arrow_down.png");
    background-position: left center;
    border-bottom: 2px solid #e81011;
    padding: 5px;
    font-size: 2rem;
    margin-top: 20px; }
  .calendar .tel {
    color: #ffb017;
    margin: 50px 0 30px 0; }
  .calendar .appisode {
    margin-top: 50px; }
    .calendar .appisode p {
      font-size: 1.4rem;
      width: 70%;
      display: inline-block;
      position: relative;
      top: 13px; }
    .calendar .appisode img {
      width: 28%; }

.first_screen {
  background-image: url(../img/bg_calendar.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 210px; }
  .first_screen h1 {
    padding-top: 10px; }

.btn_singin_header {
  position: absolute;
  left: 100px;
  top: 50px;
  width: 80px; }

.tag {
  font-family: "GraublauSlabB", sans-serif; }

.random_tag {
  position: absolute; }

.franshuza {
  background-image: url("none");
  background-color: #ffae0f; }

.menu_franshiza {
  border-left: 6px solid #ffae0f;
  border-right: 6px solid #ffae0f;
  border-top: 6px solid #ffae0f; }

.wrapp_franshiza {
  border-left: 6px solid #ffae0f;
  border-right: 6px solid #ffae0f;
  border-bottom: 6px solid #ffae0f; }

.wrapp_text_franchiz {
  padding: 20px 20px;
  background-color: #12151b;
  border-radius: 7px;
  height: 240px;
  margin: 15px 0;
  background-size: cover;
  background-repeat: no-repeat; }
  .wrapp_text_franchiz h5 {
    padding-bottom: 20px; }
  .wrapp_text_franchiz p {
    padding: 3px 0; }
    .wrapp_text_franchiz p span {
      color: #ffae0f; }
  .wrapp_text_franchiz ul {
    padding-top: 30px; }
    .wrapp_text_franchiz ul li {
      padding: 2px 0; }
      .wrapp_text_franchiz ul li a {
        text-decoration: underline; }
  .wrapp_text_franchiz img {
    margin: 20px auto; }
  .wrapp_text_franchiz a {
    text-decoration: underline; }
  .wrapp_text_franchiz .red_block {
    background-color: #c60000;
    margin: 0 -20px;
    padding: 10px 20px;
    border-radius: 0 0 5px 5px;
    height: 70px; }
    .wrapp_text_franchiz .red_block .right_left {
      padding-top: 5px; }
      .wrapp_text_franchiz .red_block .right_left .btn_mozg {
        border: 2px solid #e81011; }
  .wrapp_text_franchiz .right_left {
    padding: 0;
    margin: 0; }
    .wrapp_text_franchiz .right_left li {
      display: inline-block;
      width: 49%; }
      .wrapp_text_franchiz .right_left li p a {
        text-decoration: underline; }
      .wrapp_text_franchiz .right_left li h5 {
        padding-bottom: 10px; }
  .wrapp_text_franchiz .slider_x5 {
    margin: 5px auto; }

.baner_franshiza {
  background-color: #e81011;
  height: 510px;
  margin-top: 15px;
  border-radius: 7px; }
  .baner_franshiza img {
    margin: 50px auto; }

.corporativ {
  background-color: #e81011;
  background-image: url("none"); }

.corporativ_border_menu {
  border-left: 6px solid #e81011;
  border-right: 6px solid #e81011;
  border-top: 6px solid #e81011; }

.corporativ_border {
  border-left: 6px solid #e81011;
  border-right: 6px solid #e81011;
  border-bottom: 6px solid #e81011; }

.banner_left_have {
  background-image: url("../img/banner_corporat.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px; }
  .banner_left_have .btn_blue {
    margin-top: 48%; }
  .banner_left_have .soc_dev {
    margin-top: 73%;
    margin-left: 15px; }

.fotoAndVideo h5 {
  padding: 10px; }

.fotoAndVideo p {
  padding: 5px 10px; }

.fotoAndVideo img {
  width: 100%; }

.keytering h5 {
  padding: 10px 0; }

.keytering p {
  padding: 10px 0 35px 0; }

.keytering input[type=radio]:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  opacity: 0; }

.keytering input[type=radio]:not(old) + label {
  display: inline-block;
  margin-left: -2em;
  line-height: 1.5em; }

.keytering input[type=radio]:not(old) + label > span {
  display: inline-block;
  width: 0.875em;
  height: 0.875em;
  margin: 0.25em 0.5em 0.25em 0.25em;
  border: 0.0625em solid silver;
  border-radius: 0.25em;
  background: #e0e0e0;
  background-image: -webkit-linear-gradient(#f0f0f0, #e0e0e0);
  background-image: linear-gradient(#f0f0f0, #e0e0e0);
  vertical-align: bottom; }

.keytering input[type=radio]:not(old):checked + label > span {
  background-image: -webkit-linear-gradient(#e0e0e0, #f0f0f0);
  background-image: linear-gradient(#e0e0e0, #f0f0f0); }

.keytering input[type=radio]:not(old):checked + label > span:before {
  content: '✓';
  display: block;
  width: 1em;
  color: #99cc66;
  font-size: 0.875em;
  line-height: 1em;
  text-align: center;
  text-shadow: 0 0 0.0714em #73994d;
  font-weight: bold; }

.dev_slider {
  background-image: url("../img/dev_slider.png");
  background-color: #fff;
  background-repeat: no-repeat;
  height: 150px;
  background-position: center center;
  margin: 20px 20px;
  border-radius: 10px; }

.menu_lk {
  border: none;
  background-color: #e81011; }
  .menu_lk .info_panel {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.27);
    border-radius: 50px; }
    .menu_lk .info_panel li {
      padding: 5px 15px; }
  .menu_lk .menu_link {
    margin-top: 40px; }

.first_screen h1 span {
  font-size: 1.4rem;
  position: relative;
  top: -20px;
  margin-right: 25px;
  border-bottom: 1px solid #f17070; }
  .first_screen h1 span a {
    color: #f17070;
    font-family: "GraublauSansR", sans-serif; }

.achif {
  background-color: #e81011;
  padding: 30px 0 100px 0; }
  .achif ul li {
    display: inline-block;
    padding: 0 20px; }

.comand {
  background-color: #181b23; }
  .comand ul {
    position: relative;
    top: -80px; }
    .comand ul li {
      display: inline-block;
      background-color: rgba(255, 255, 255, 0);
      margin-left: -30px; }
      .comand ul li h5 {
        font-family: "GraublauSlabB"; }
      .comand ul li p {
        position: relative;
        top: -40px;
        color: #000; }

.bg_uspeh {
  background-image: url("../img/star_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 510px;
  background-color: #12151b;
  margin: 15px 0;
  border-radius: 7px; }
  .bg_uspeh h5 {
    padding: 20px 0; }
  .bg_uspeh ul li {
    display: inline-block;
    padding: 7px 15px; }
  .bg_uspeh ul .activ {
    border-radius: 50px;
    border: 2px solid red; }
  .bg_uspeh .col_game {
    position: absolute;
    left: 42%;
    margin-top: 110px; }
    .bg_uspeh .col_game span {
      color: red; }

.contact_user {
  padding: 0 !important;
  margin: 0 !important; }
  .contact_user li {
    display: inline-block; }
    .contact_user li img {
      margin: 0 !important; }
    .contact_user li ul {
      padding: 0 !important;
      margin: 0 !important; }
      .contact_user li ul li {
        display: block; }

.foto_previu {
  margin-top: 15px;
  margin-bottom: 15px; }
  .foto_previu .date_and_count {
    position: absolute;
    background-color: #0011ef;
    top: 0;
    left: 36%; }
    .foto_previu .date_and_count p {
      padding: 5px 15px; }
      .foto_previu .date_and_count p span {
        padding: 0 5px; }

.red_border {
  border-left: 6px solid #e81011;
  border-right: 6px solid #e81011;
  border-bottom: 6px solid #e81011; }

.red_border_no_bottom {
  border-left: 6px solid #e81011;
  border-right: 6px solid #e81011;
  border-top: 6px solid #e81011; }

.header_fotogaler {
  padding: 20px; }

.mounth_foto {
  background-color: #12151b;
  padding: 10px 10px 10px 50px;
  border-radius: 5px;
  margin-top: 15px; }
  .mounth_foto .red_line {
    border-bottom: 2px solid red;
    padding-bottom: 5px;
    width: 30px;
    margin-bottom: 15px; }
  .mounth_foto ul li a {
    color: #717376; }
  .mounth_foto ul li::before {
    content: '.';
    font-size: 6rem;
    color: #e81011;
    position: absolute;
    margin-left: -20px;
    margin-top: -51px; }

.foto_galery .wrapp_text_franchiz {
  height: 267px;
  background-color: #242c3e; }

.foto_galery .no_foto img {
  padding-top: 20px; }

.foto_galery .no_foto .resalt {
  padding-top: 20px; }

.sertificat .sert_head h5 {
  padding: 15px 0; }

.sertificat .sert_head p {
  padding: 10px 0 40px; }

.sertificat .sert_one {
  padding: 0 50px; }
  .sertificat .sert_one img {
    width: 100%; }
  .sertificat .sert_one .float_left {
    margin-top: 20px; }
    .sertificat .sert_one .float_left h3 {
      line-height: 0.4; }
  .sertificat .sert_one .btn_red {
    float: right;
    margin-top: 20px; }

.first_screen_sert {
  background-image: url("../img/bg_sert.png"); }
